<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h4>
    Login Form
</h4>
<form th:action="@{/login}" action="/login" method="POST">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
    </p>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <div>
        <span style="color: red" th:if="${param.error}">invalid user name or password</span>
    </div>
    <p th:if="${param.logout}" style="color: green">logout success</p><!-- 1 -->
    <button type="submit" class="btn">Log in</button>
</form>

</body>
</html>